#container{
    justify-content: center;
    padding:25px;
}

#container div{
    display: flex;
    justify-content: left;
    width: 960px;
    max-height: 100vh;
}

#container div div{
    width: 20px;
    height: 20px;
    border:1px solid black;
    background-color: lightblue;
}

.input{
    display: flex;
    padding: 10px;
    margin:10px;
    gap:10px;
}

.game{
    display: flex;  
    flex-direction: column;
    gap:0px;
}


.header {
    height: 72px;
    background: darkmagenta;
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
  }

.sidebar {
    width: 300px;
    background: royalblue;
    box-sizing: border-box;
    min-height: 90vh;
  }

.content{
    display: flex;
    flex:1;
  }

li{
    list-style: none;
    font-size: 24px;
    color: white;
    padding: 16px;
  }

li a{
    text-decoration: none;
    color: white;
  }

body{
    display:flex;
    flex-direction: column;
  }

.sidebar h3{
    color: black;
    font-size: 30px;
    text-align: center;
}

.footer{
    background-color: #1f2937;
    flex-shrink: 0; 
    display: flex;
    justify-content: center;
    color: #F9FAF8;
}
